fastapi
uvicorn
pandas
numpy
python-multipart
python-jose
passlib
bcrypt
python-dateutil
pydantic
deap
pytest
sqlalchemy
groq
langchain
chromadb
sentence-transformers
unstructured
pdfplumber
python-dotenv
python-multipart